.main{
    margin:5rem  auto;
    width: 50%;
    background-color: aliceblue;
    border-radius: 3px;
    border:solid 2px rgba(0,0,0,0.2);
}

.name{
    margin: 1.5rem 0  0 0;
    /*background-color: aliceblue;
    border-radius: 3px;
     border:solid 2px rgba(0,0,0,0.2);*/
    padding-left: 1rem;
    font-size: 40px;
}
.description{
    /*background-color: aliceblue;
    border-radius: 3px;
    border:solid 2px rgba(0,0,0,0.2);*/
    padding: 1rem;
}