/* style.css */
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: cyan;
    height: 15vh;
}

.logo{
    user-select: none;
    color: white;
    font-size: 3.5rem;
    font-weight: bold;
    text-decoration: none;
    padding-left:2rem ;
}
.headerNav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.Item{
    padding:1rem 5rem;
    text-decoration: none;
    font-size: 1.5rem;
}
.Item:hover{
    background-color: aliceblue;
    border-radius:10px;
    font-size: 1.8rem;
    color:black;
}
.active{
    color: black;
    font-size: 1.8rem;
    text-decoration: underline;
}
