/* style.css */
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: cyan;
}

.logo{
    user-select: none;
    color: white;
    font-size: 2rem;
    font-weight: bold;
    text-decoration: none;
}
.headerNav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.Item{
    padding:1rem 5rem;
    text-decoration: none;
}
.Item:hover{
    background-color: aliceblue;
}
.selected{
    background-color: aliceblue;
}
